.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    width: 300px;
    transition: transform 0.2s;
}

.cardImg {
    width: 50%;
    height: auto;
    padding: 20px;
}

.cardContent {
    padding: 20px;
}

.cardTitle {
    color: #030c8a;
    font-size: 1.5em;
    margin: 0 0 10px;
}

.cardDetails {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

.cardGenre {
    font-size: 1.3em;
    color: #1a1919;
}

.cardPrice {
    font-size: 1em;
    color: rgb(209, 69, 69);
}